As01/matmul
As01/transpose
As01/matmul_basic
As01/matmul_cuda
As01/matmul_omp
As01/matmul_basic.exe
As01/matmul_opt.exe
As01/matmul_omp.exe
As01/output/ref_out_arc130.mtx
As01/output/ref_out_bcspwr06.mtx
As01/output/ref_out_bcsstk13.mtx
As01/output/ref_out_G6.mtx
As01/output/ref_out_tols1090.mtx
As01/output/tmp.txt
As01/output/bcs6
As01/output/bcs13
As01/output/bcss13_all.mtx
As01/output/G6_all.mtx
As01/output/G6.mtx
As01/output/G6out.mtx
As01/output/help.txt
As01/output/IAOut.mtx
As01/output/IAout.txt
As01/output/IntelAdvisorOut.mtx
.vscode/settings.json
Project/naive.exe
As02/Histo/histo_atomic.exe
.editorconfig
As02/Histo/histo_atomic
As02/Histo/histo_per_thread.exe
Project/bh_naive.exe
Project/BodyFiles/out/out0.tsv
Project/BodyFiles/out/bh_naive_out.tsv
Project/BodyFiles/out/bh_ref_out.tsv
Project/BodyFiles/out/naive_out.tsv
Project/bh_omp.exe
Project/naive
Project/bh_omp
Project/bh_naive
